
/******** CONTAINER/LAYOUT **************/
.footer-container{
    display: flex;
    flex-direction: column;
    text-align: center;  
}

.footer-form-container{
    display:flex;
    justify-content: center;
}

.footer-form{
    margin-right: 10px;
}

/******** CONTENT **************/
.footer-header{
    color: #474645;
    margin-bottom: 20px;
    font-size: 25px;
}

.footer-contact{
    margin-top: 25px;
    padding-bottom: 50px;
}

/******** INPUT **************/
.form-input-email{
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #bebeb8;
    font-size: 16px;
    background: #fff;
    padding: 12px 11px 12px 22px;
}

.form-input-password{
    border-radius: 4px;
    border: 1px solid #bebeb8;
    font-size: 16px;
    background: #fff;
    padding: 12px 11px 12px 22px;
}

/******** BUTTONS **************/
.get-started-button{
    border: 1px solid #bebeb8;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:150px;
    font-weight: 500;
    background-color: #8566CC;
    color:#ffffff;
}

.google-button{
    position: relative;
    border: 1px solid #bebeb8;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-right: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width:200px;
    font-weight: 500;
    background-color: #fff;
    color:#474645;
}

.or-word{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    padding: 0 10px 0 10px;
}

.google-image{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 175px;
}

.twitter-image{
    height: 30px;
    width: 30px;
}

.facebook-image{
    height: 30px;
    width: 30px;
}

/******** MEDIA QUERIES **************/
@media(max-width:800px){
    .footer-container{
        flex-direction: column; 
        width: 90%;
        align-items: center;  
    }
}