/******** CONTAINER/LAYOUT **************/
.container-header{
    color: #474645;
    width: 60%;
    margin: 27px auto;
    text-align: center;
    padding-top: 15px;
}

/******** HEADING/CONTENT **************/

.navigation-menu{
    margin: 30px 20px 30px 20px;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
}

.menu-break{
    width: 50%;
}

.container-navigation{
    padding-left: 20px;
    padding-right: 5px;
    display:flex;
    flex-direction: row;
}

.container-header-heading{
    font-size: 2em;
    padding-bottom: 10px;    
    font-weight: 400;
}

.container-header-content{
    width: auto
}
